html {
    background-color: black;
    text-align: center;
}

header h1 {
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
}

header a {
    font-size: 16px;
    color: aquamarine;
}

main h2 {
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    color: white;
}